.hibo-floating {
    background-color:#ffffff;
    position: fixed;
    padding: 10px;
    display: flex;
    width: 75px;
    height: 75px;
    bottom: 2vw;
    left: calc(98vw - 75px);
    border-radius: 50%;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; */
    box-shadow: 1px 1px 16px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: 1px 1px 16px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 16px 0px rgba(0,0,0,0.2);
    text-align: center;
    align-items: center;
    transition: background-color 0.2s ease-out 100ms;
    z-index: 999;
    cursor: pointer;
}

.hibo-floating:hover {
    background-color:#4b5945;
}
.hibo-floating:hover .hibo-floating-image {
    filter: brightness(0) invert(1);
    transition: all 0.2s ease-out 100ms;
}

.hibo-floating-image {
    height: fit-content;
    width: 100%;
    align-self: center;
    /* margin-bottom: -15px; */
}

.hibo-floating-image:hover {
    filter: brightness(0) invert(1);
    transition: all 0.2s ease-out 100ms;
}